@import '../../styles/settings.scss';
@import '../../styles/mixins.scss';

form {
  margin: 2rem 0rem 2rem 0;
  padding: 2rem;
  @include flex(column, flex-start, center);
  box-shadow: $shadow;
  background-color: $color-light;

  h3 {
    text-transform: uppercase;
    font-weight: $font-normal;
    padding: 0 0 2rem 0;
  }

  button {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-dark;
    opacity: 0.8;
    color: $color-light;
    border: 1px solid $color-dark;
    padding: 1rem 0;
    cursor: pointer;
    transition: $transition;

    p {
      font-size: $base-size;
      text-transform: uppercase;
    }

    &:hover {
      background-color: $color-light;
      color: $color-dark;
      border: 1px solid $color-dark;
    }
  }
}
