@import '../../styles/settings.scss';
@import '../../styles/mixins.scss';

form {
  // margin: 2rem 0rem 2rem 0;
  padding: 2rem;
  @include flex(column, flex-start, center);
  box-shadow: $shadow;
  background-color: $color-light;
  position: relative;
  height: 100vh;

  @include lg-max {
    padding-top: 80px;
    margin-bottom: 64px;
    height: auto;
  }

  .app__cart-form {
    @include flex(column, flex-start, center);
    width: 100%;

    label {
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $color-main;
      width: 100%;
      text-align: start;
      cursor: pointer;
    }

    input {
      padding: 1rem 0 1rem 0;
      width: 100%;
      border: none;
      border-bottom: 1px solid $color-main;
      font-size: $base-size;
      outline: none;
      &::placeholder {
        font-size: $base-size;
      }

      &:last-child {
        display: none;
      }
    }

    .app__cart-form-choose-file {
      @include flex(row, flex-start, flex-end);
      height: 60px;
      padding-top: 20px;

      svg {
        width: 20px;
        height: 20px;
        margin-right: 0.5rem;
      }

      img {
        height: 100px;
      }
    }

    .error {
      border: 1px solid $color-gradient-one;
    }
    .ok {
      border: 1px solid green;
    }
  }

  h3 {
    text-transform: uppercase;
    font-weight: $font-normal;
    padding: 0 0 2rem 0;

    @include lg-max {
      padding: 0;
    }
  }

  button {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-dark;
    opacity: 0.8;
    color: $color-light;
    border: 1px solid $color-dark;
    padding: 0.5rem 0;
    cursor: pointer;
    transition: $transition;
    text-transform: uppercase;
    padding: 10px 0;

    @include lg-max {
      margin-top: 2rem;
    }

    &:hover {
      background-color: $color-light;
      color: $color-dark;
      border: 1px solid $color-dark;
    }
  }

  .app__clear-btn {
    cursor: pointer;
    margin-top: 10px;
    background-color: $color-background;
    border: 1px solid $color-background;
    padding: 2px;
    width: 100%;
    transition: $transition;

    &:hover {
      background-color: $color-light;
    }
  }

  .app__close-btn {
    display: none;
    cursor: pointer;

    @include lg-max {
      display: block;
    }
  }

  .app__form-error-message {
    padding-top: 10px;
  }
}
