@import '../../styles/mixins.scss';
@import '../../styles/settings.scss';

.app__about-page {
  @include flex(row, center, space-between);
  height: 100vh;

  @include md-max {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .app__about-img {
    box-shadow: $shadow;
    width: 40%;
    height: 70vh;

    @include md-max {
      width: 100%;
      margin-top: 6rem;
      height: 40vh;
    }

    @include sm-max {
      margin-top: 6.5rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .app__about-text {
    @include flex(column-reverse, flex-start, space-between);
    width: 50%;
    height: 70vh;

    @include md-max {
      width: 100%;
      padding-top: 10px;
      height: auto;
    }

    .app_header-wrap {
      @include flex(row, center, flex-start);
      width: 100%;
      flex-wrap: wrap;

      @include md-max {
        width: 100%;
        padding-top: 40px;
      }

      img {
        width: 35px;
        height: 35px;

        @include xl-max {
          width: 20px;
          height: 20px;
        }

        @include sm-max {
          width: 16px;
          height: 16px;
        }
      }

      h2 {
        font-size: $subheader-size;
        font-weight: $font-normal;
        text-transform: uppercase;
        padding-left: 10px;
        transition: $transition;

        &:hover {
          color: $color-gradient-one;
        }

        @include sm-max {
          padding-left: 0px;
          padding-top: 5px;
          font-size: $base-size;
        }

        @include xl-max {
          font-size: $base-size;
        }

        @include xl-min {
          font-size: $base-size;
        }

        @include xxl-min {
          font-size: $subheader-size;
        }
      }

      p {
        text-align: start;
        padding-top: 10px;

        @include sm-max {
          margin-bottom: 6rem;
        }
        @include xl-max {
          font-size: 14px;
        }

        @include xl-min {
          font-size: 14px;
        }
      }
    }
  }
}

.p-text {
  text-align: start;
  font-size: $header-size;
  // color: $color-gradient-one;

  @include sm-max {
    // color: $color-gradient-one;
  }

  @include xl-max {
    font-size: $subheader-size;
  }
  @include xl-min {
    font-size: $header-size;
  }
}
