@import '../../styles/settings.scss';
@import '../../styles/mixins.scss';

.app__logo {
  display: flex;
  align-items: center;

  .app__square {
    border: 4px solid $color-light;
    width: 25px;
    height: 25px;
    margin-right: 0.5rem;
  }

  h3 {
    text-transform: uppercase;
    color: $color-light;
    font-size: 1.2rem;

    @include sm-max {
      font-size: 1rem;
    }
  }
}
