@import '../../styles/settings.scss';
@import '../../styles/mixins.scss';

.app__posts-wrap {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  max-width: 66.66%;
  padding-bottom: 100px;
  @include sm-max {
    @include flex(column, center, center);
  }

  @include lg-max {
    width: 100%;
    max-width: 100%;
  }
}

.app__form-wrap {
  position: fixed;
  top: 64px;
  right: 0;
  margin-right: 10%;
  max-width: 27%;

  @include lg-max {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    width: 100vw;
  }

  body.active-modal {
    overflow-y: hidden;
  }

  .overlay {
    display: none;

    @include lg-max {
      display: block;
      background: rgba(49, 49, 49, 0.8);
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      z-index: 999;
      overflow: auto;
    }
  }

  .modal-content {
    overflow: auto;

    @include lg-max {
      width: 80vw;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: fixed;
      z-index: 999;
    }

    @include sm-max {
      width: 90vw;
    }

    form {
      z-index: 999;
    }
  }
}
