@import '../../styles/settings.scss';
@import '../../styles/mixins.scss';

.app__login-cart-form {
  @include flex(row-reverse, stretch, center);

  input {
    height: 45px;
    padding: 0 10px;
    box-shadow: $shadow;
    border: none;
    border-bottom: 1px solid $color-background;
    width: 400px;
    margin-bottom: 1rem;
    outline: none;
    &::placeholder {
      font-size: $base-size;
    }

    @include sm-max {
      width: 200px;
    }
  }

  .password-ikon {
    height: 45px;

    svg {
      height: 45px;
      width: 33px;
      background: $color-dark;
      border: none;
      border-radius: 0;
      padding: 6px;
    }
  }
}
