@import '../../styles/mixins.scss';
@import '../../styles/settings.scss';

.app__faq-page {
  @include flex(column, flex-start, space-around);
  height: 100%;
  padding: 64px 0;
  text-align: start;

  h2 {
    font-size: $subheader-size;
    text-transform: uppercase;
    margin: 2rem 0;
  }

  h3,
  p {
    margin-bottom: 1rem;
  }
}
