@import '../../styles/mixins.scss';
@import '../../styles/settings.scss';

.app__header {
  position: fixed;
  width: 100vw;
  @include gradient;
  color: $color-light;
  @include flex(row, center, space-between);
  height: auto;
  padding: 1rem 6rem;
  z-index: 999;

  @include sm-max {
    padding: 1rem 1rem;
  }

  .app__header-nav {
    @include flex(row, center, center);
  }
}
